/* General Fonts */
@font-face {
	font-family: 'Vesterbro';
	src: url('../fonts/TRYVesterbro-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Vesterbro';
	src: url('../fonts/TRYVesterbro-Extrabold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

/* Logo styling */
#logo {
	float: left;
	width: 80px;
	max-width: 80px;
}

/* Navbar left-right floating */
nav .user-menu {
	float: right;
	margin-bottom: 20px;
}

.user-menu span,
.user-menu form {
	display: inline-block;
	vertical-align: middle;
}

/* Clear floats for content body in container */
/* To avoid horizontal stacking of HTML elements
due to the floats */
.container {
	clear: both;
}
