asgiref==3.8.1
dj-database-url==2.3.0
Django==5.1.4
django-appconf==1.0.6
django-compressor==4.5.1
django-db-connection-pool==1.2.5
django-debug-toolbar==4.4.6
django-environ==0.11.2
django-redis==5.4.0
greenlet==3.1.1
psycopg2==2.9.10
psycopg2-binary==2.9.10
rcssmin==1.1.2
redis==5.2.0
rjsmin==1.2.2
setuptools==75.5.0
SQLAlchemy==2.0.36
sqlparams==6.1.0
sqlparse==0.5.2
typing_extensions==4.12.2
